/*	*
	{
	    margin: 0;
	    padding: 0;
  		text-decoration: none;

	}*/

#menu .titu{
  float: left;
  color: white;
  font-size: 27px;
  font-weight: 600;
  line-height: 45px;
  padding-left: 60px;
  z-index: 10;
}	
#menu
	{
		height: 50px;
		width: 100%;
		background-color: #4b5c9c;
		font-family: 'Arial';
		 z-index: 10;
	
	}
	#menu ul
	{
		float: right;
		cursor: pointer;
		display: inline-block;
		z-index: 10;
		
	}

	#menu ul ul
	{
		
		display: none;
	}

	#menu ul li
	{
	    width: 100px;
		text-align: center;
		display: inline-block;
		line-height: 49px;
		width: 150px;
		float: left;
		z-index: 10;
	}

	#menu ul ul li
	{
		background-color: #4b5c9c;
		border-bottom: solid 1px #ccc;

	}
#menu ul li:hover > ul 
    {
  
        text-align: center;
        color: black;
        
       display: block;

    }

#menu ul li:hover
    {
    	z-index: 10;
        color: #fff;
        background-color: #6774a8;
     
    }

#menu a
	{
		display: inline;
		text-decoration: none;
		text-align: center;
		color: #fff;
		font-family: 'Arial';
		font-size: 20px;
		font-weight: 600;
		z-index: 10;
	}

.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 50px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}



/*reponsive */
@media (max-width: 1170px){
  .checkbtn{
    display: block;
  }

 #menu  ul{
	margin-top: 0px;
  	width: 100%;
  	height: 50px;
  	display: none;
  	background-color: #4b5c9c;
  	transition: all .2s;
   
  }


	#menu ul ul li
	{
		background-color: #4b5c9c;
		border-bottom: solid 0px #ccc;
	}




  #check:checked ~ ul{
  	display: block;
  }
}